/* HELPERS LOGOS */
.helpers__logo__tilte {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 45px auto 0;
}

.helpers-logos {
  position: relative;
  width: 872px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 24px;
  overflow: hidden;
  margin-bottom: 12px;
}

#marquee {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  animation: slide 16s linear infinite;
}

.helpers-logos a {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}

.helpers-logos img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  filter: grayscale(100%);
  transition: 0.6s;
}

.helpers-logos img:hover {
  filter: grayscale(0%);
  scale: 1.08;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(40%);
  }
}

.shadow__right,
.shadow__left {
  position: absolute;
  top: 0;
}

/* .shadow__right {
  right: 0;
  width: 120px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgb(8, 12, 55) 0%,
    rgba(4, 8, 43, 0.6) 40%,
    rgba(7, 11, 55, 0) 100%
  );
}

.shadow__left {
  left: 0;
  width: 120px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(3, 5, 33) 0%,
    rgba(3, 6, 35, 0.6) 40%,
    rgba(5, 8, 37, 0) 100%
  );
} */
