/* Top Navigation Bar */
.navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 0.75rem 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #333;
}

.nav-container {
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------ LINKS DESKTOP ------ */

.burger-btn {
  display: none;
}

.nav-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.6;
}

.logo-img {
  width: 120px;
  height: 30px;
  filter: invert(100%);
}

.nav-button {
  background: linear-gradient(
    135deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  color: var(--color-text-light);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.nav-button:hover {
  box-shadow: 0 5px 15px rgba(168, 85, 247, 0.3);
}

/* ------ MENU PARA MOBILE ------ */

.menu-toggle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: none;
  background-color: #1e2466;
}

.navigation-menu {
  display: grid;
  align-items: center;
  margin: 0 auto;
  gap: 8px;
}

.navigation-menu a {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 20px;
}

/* ------ MOBILE ------ */
@media (max-width: 820px) {
  .burger-btn {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-top: 1px solid #ddd;
    display: none;
  }

  .nav-links a {
    text-decoration: none;
  }
}
